<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDocumentoIdentificacion">
            <h2><span jhiTranslate="tramitesApp.tipoDocumentoIdentificacion.detail.title">Tipo Documento Identificacion</span> {{ tipoDocumentoIdentificacion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tramitesApp.tipoDocumentoIdentificacion.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ tipoDocumentoIdentificacion.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="tramitesApp.tipoDocumentoIdentificacion.abreviatura">Abreviatura</span></dt>
                <dd>
                    <span>{{ tipoDocumentoIdentificacion.abreviatura }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-documento-identificacion', tipoDocumentoIdentificacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
