<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoPersona">
            <h2><span jhiTranslate="tramitesApp.tipoPersona.detail.title">Tipo Persona</span> {{ tipoPersona.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tramitesApp.tipoPersona.codigo">Codigo</span></dt>
                <dd>
                    <span>{{ tipoPersona.codigo }}</span>
                </dd>
                <dt><span jhiTranslate="tramitesApp.tipoPersona.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ tipoPersona.descripcion }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-persona', tipoPersona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
